html {
  font-size: 16px;
}

* {
  transition: 1s;
  font-family: "Abhaya Libre";
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url(./design-web/bg-wab4\ -\ Copy_converted.webp);
  background-repeat: no-repeat;
  margin: 0px;
  font-family: "Abhaya Libre";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 1rem;
  background-size: cover;
  backdrop-filter: blur(10px);
  text-align: center;
}

h1 {
  width: 10rem;
  background-color: #a6d4fd;
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem;
}

#cart-items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #11d5fcec;
  border-radius: 2rem;
  padding: 1rem;
}

#cart-items div {
  width: 20rem;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #00d0ff;
  border-radius: 2rem;
  margin: 1rem;
}

#cart-total {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #11d5fcc8;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.div_send {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  background-color: rgba(118, 231, 249, 0.995);
  border-radius: 2rem;
  padding: 1rem;
}

button {
  width: 5rem;
  background-color: rgb(0 220 255 / 71%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  color: azure;
  border: solid;
  animation: submit 5s infinite ease;
}

#button-clear:active {
  background-color: #0073ff;
  transform: translate(0, 0.5rem);
  transition: 0.5s ease;
}

.container {
  width: fit-content;
  background-color: rgb(27 194 252);
  padding: 2rem;
  margin: 3rem;
  border-radius: 2rem;
  box-shadow: 0rem 1rem 1rem 0.5rem #044557bf;
  display: none;
}

.form-group {
  margin-bottom: 1rem;
    padding: 1rem;
    background-color: #8fffff;
    width: 15rem;
    border-radius: 1rem;
    border: solid #00c7fa;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@keyframes submit {
  0% {
    border: solid #1776d5ac 2px;
    /* Initial border color */
  }

  25% {
    border: solid rgba(148, 99, 232, 0.803) 2px;
  }

  50% {
    border: solid #cd86e8bc 2px;
    /* Intermediate border color */
  }

  75% {
    border: solid rgb(75, 123, 236) 2px;
  }

  100% {
    border: solid #62dcd1db 2px;
    /* Final border color */
  }
}

/* Additional CSS for Popup */
.popup {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.popup-content {
  background-color: #7ff5ff;
  margin: 15% auto;
  padding: 20px;
  border: 0.2rem solid #bbbbbb;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 8px;
  position: relative;
}

.close-popup {
  background-color: #dc3545;
  margin-top: 10px;
}

.close-popup:hover {
  background-color: #c82333;
}
