* {
  transition: 0.7s;
}
html {
  font-size: 16px;
}

body {
  max-width: 100%;
  max-height: 100%;
  background-image: url(./design-web/bg-wab4\ -\ Copy_converted.webp);
  background-repeat: no-repeat;
  margin: 0px;
  font-family: "Abhaya Libre";
  backdrop-filter: blur(10px);
  text-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  width: fit-content;
  background-color: rgb(27 194 252);
  padding: 2rem;
  margin: 3rem;
  border-radius: 2rem;
  box-shadow: 0rem 1rem 1rem 0.5rem #044557bf;
 
}

.form-group {
  margin-bottom: 1rem;
  padding: 1rem;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* @media (min-width: 200px) and (max-width: 299px) {
  html {
    font-size: 5px;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  html {
    font-size: 6px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  html {
    font-size: 7px;
  }
} */



