html {
  font-size: 16px;
}

body {
  background-image: url(./bg-wab4.png);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(4px);
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  backdrop-filter: blur(10px);
}

.container {
  background-color: rgba(127, 212, 255, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container div {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}


.incenso h1{
  justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

 .img{
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
}
.img img{
width: 10rem;
}
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: auto;
  position: relative;
  padding: 1rem;
}
.back input {
  background-color: #0ce6fe3a;
    border: solid 0.2rem #1291d4bf;
    color: #f7f7f7;
    font-size: 2rem;
    position: relative;
    border-radius: 1rem;
    color: black;
    backdrop-filter: blur(10px);
}
.back:active {
  background-color: #0073ff;
  transform: translate(0, 0.5rem);
  transition: 0.5s ease;
}

@media (min-width: 200px) and (max-width: 299px) {
  html {
    font-size: 4px;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  html {
    font-size: 5px;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  html {
    font-size: 6px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  html {
    font-size: 7px;
  }
}
