html {
  font-size: 16px;
}
* {
  transition: 0.3s;
}

body {
  background-image: url(./bg-wab4.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  font-family: "Abhaya Libre";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
}

nav {
  display: flex;
  align-items: center;
  background-color: rgba(14, 161, 235, 0.46);
  height: 5rem;
  width: 100%;
}
nav img {
  width: 5rem;
  background-color: rgba(0, 157, 255, 0.474);
  margin: 1rem;
  border-radius: 1rem;

  position: relative;
}

nav a {
  position: absolute;
  width: 5rem;
  height: 5rem;
  transform: translate(-7rem, 2rem);
}

nav .nav-text {
  display: flex;
  justify-content: end;
  width: 100%;
}

.first {
  width: fit-content;
  height: 3rem;
  margin: 0.2rem;
  border-radius: 0.6rem;
  background-color: #3199d569;
  border: solid 0.2rem #1291d4bf;
  color: #f7f7f7;
  font-size: 1.5rem;
}
.first:active {
  background-color: #0073ff;
  transform: translate(0, 0.5rem);
  transition: 0.5s ease;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36rem;
  height: 27rem;
  position: relative;
  margin: 1rem;
}
.container div {
  position: relative;
  border: solid rgba(37, 157, 227, 0.574);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 1rem;
  width: 15rem;
  height: 23rem;
  backdrop-filter: blur(10px);
}

.container h1 {
  text-wrap: wrap;
  position: relative;
}
.container h2 {
  text-wrap: wrap;
  position: relative;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: auto;
  position: relative;
  padding: 1rem;
}
.back input {
  background-color: #0ce6fe3a;
  border: solid 0.2rem #1291d4bf;
  color: #f7f7f7;
  font-size: 2rem;
  position: relative;
  border-radius: 1rem;
  color: black;
  backdrop-filter: blur(10px);
}
.back:active {
  background-color: #0073ff;
  transform: translate(0, 0.5rem);
  transition: 0.5s ease;
}
@media (min-width: 200px) and (max-width: 299px) {
  html {
    font-size: 4px;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  html {
    font-size: 8px;
  }

  .container div {
    height: 30rem;
    margin-top: 10rem;
    padding-top: 1rem;
   
  }

  .back {
    margin-top: 10rem;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  html {
    font-size: 6px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  html {
    font-size: 7px;
  }
}
